[submodule "extern/unity"]
	path = extern/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
    branch = master
[submodule "extern/pico-sdk"]
	path = extern/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
